*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:#fff;
    background-color:#000;
    overscroll-behavior: none;
    overflow-x: hidden;
    overflow-y: scroll;
}
/*header section*/
#navbar{
    width: 100%;
    position: absolute;
    margin: auto;
}

.nav-links{
    margin-left: 30px;
    margin-right: 90px;
    animation:movedown 1s linear ;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes movedown {
    0%{
        transform: translateY(-100px);
        visibility: visible;
    }
    100%{
        transform: translateY(0);
        visibility: visible;
    }
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.nav-links ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: right;
}

.nav-links ul li {
    float: none;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-links ul li:nth-child(1){
    float: left;

}
.nav-links ul li:nth-child(2){
    float: left;

}
.nav-links ul li:nth-child(3){
    float: left;

}

.nav-links ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 800;
    color:rgb(247, 215, 177);
    text-decoration: none ;
    display: block;
    padding: 10px 20px;
    margin-top: 50px;

}

.nav-links ul li a:hover{
    color: #fff;
}

.nav-links ul li.active a{
    color:  #fff;
}


.logo_area{
    position: absolute;
    left: 50%;
    top:0;
    content: "";
    margin-left:-60px;
    text-align: center;
}
.circle{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo{
    position: absolute;
    width: 100px;
    height: 100px;
    background:url(../icons/logo.png);
    background-size: cover;
    border-radius: 50%;
}

.name{
    font-family: 'Antic Didone', serif;
    color:rgb(247, 215, 177);
    font-weight: lighter;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
}


@keyframes rotateText
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }

}

.name span{
    position: absolute;
    left: 50%;
    font-size: 20px;
    transform-origin: 0 100px ;
}


.text_1{
    padding-top: 23%;
    padding-left: 10%;
    text-align: center;
    width: 50%;
}

.text_1 h3{
    font-family: 'Marcellus', serif;
    color: rgb(128, 85, 34);
    font-size: 60px;
    font-weight: lighter;
    animation:moveup 0.5s linear ;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.text_1 p{
    font-family: 'Antic Didone', serif;
    color: rgb(192, 189, 189);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    animation:moveup 0.5s linear ;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.text_1 p span{
    letter-spacing: 6px;
}

@keyframes moveup {
    0%{
        transform: translateY(0);
        visibility: visible;
    }
    100%{
        transform: translateY(-5px);
        visibility: visible;
    }
}

/*footer section*/
footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 50px 100px;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec{
    margin-right: 30px;
}

footer .container .sec.aboutus{
    width: 30%;
}

footer .container h2{
    position: relative;
    color:rgb(247, 215, 177);
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}

footer .container h2:before{
    content: '' ;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: red;
}

footer p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
    color: white;
    font-size: 16px;
    text-align: justify;

}

.sci{
    margin-top: 20px;
    display: flex;
}

.sci li{
    list-style: none;

}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 30px;
    background: rgba(116, 114, 114, 0.719);
    display: flex;
    justify-content: center;
    margin-right: 10px;
    border-radius: 4px;
}

.sci li a:hover{
    background: rgba(255, 255, 255, 0.575);
}


.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li{
    list-style-type: none;
}

.quickLinks ul li a{
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 17px;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks  ul li.active a{
    color:  rgb(255, 224, 158);
}

.quickLinks ul li a:hover{
    color: rgb(255, 224, 158);
}

.contact{
    width:calc(35% - 90px) ;
    margin-right: 0 !important;
}

.contact ul.info li{
    display: flex;
    margin-bottom: 16px;
}

.contact ul.info li span:nth-child(1){
    color: white;
    font-size: 16px;
    margin-right: 10px;

}

.contact ul.info li span{
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 20px;
}

.contact ul.info li a{
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}

.contact ul.info li a:hover{
    color: rgb(131, 126, 126);
}

footer:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}

footer:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}

.copyrightText{
    width: 100%;
    padding: 8px 100px;
    text-align: center;
    color: white;
    letter-spacing: 4px;
}

.mob-menu{
    display: none;
    position: fixed;
    z-index: 1000;
    width: 36px;
    right: 30px;
    top: 30px;
    opacity: 0.9;
}
.mob-menu:hover{
    cursor: pointer;
    opacity: 1;
}
.menu-icon-bar{
    display: block;
    width: 100%;
    background-color: #fff;
    height: 4px;
    margin: 0 0 6px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.mob-menu.active .menu-icon-bar:nth-child(2){
    opacity: 0;
  }
 .mob-menu.active .menu-icon-bar:nth-child(1){
    transform: translateY(10px) rotate(45deg);
  }
 .mob-menu.active .menu-icon-bar:nth-child(3){
    transform: translateY(-10px) rotate(-45deg);
  }




/*
*********  MEDIA QUERIES  *********
*/

@media only screen and (max-width: 1399px) {
    .logo_area{
        top: 10px;
    }
    .nav-links ul li a{
        padding: 10px;
        font-size: 15px;
    }

    .circle {
        width: 120px;
        height: 120px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .name {
        width: 100%;
        height: 100%;
    }
    .name span{
        font-size: 10px;
        transform-origin: 0 60px;
    }
  }

/* TABLETS PORTRAIT AND LANDSCAPE */
@media only screen and (max-width: 1199px) {
    .nav-links{
        position: fixed;
        margin-right: 0;
        z-index: 1000;
        right: -100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: auto;
        text-align: center;
        transition: 0.3s;
        height: 100vh;
        overflow: auto;
        padding-top: 80px;
    }
    .nav-links ul li{
        display: block;
        float: none !important;
        padding: 8px 20px;
    }
    .nav-links ul li a{
        margin-top: 0;
        padding: 12px;
    }
    .mob-menu{
        display: block;
    }
    .nav-links.active{
        right: 0;
    }

     .sec2-inner .text{
        width: 60%;
    }

    .sec1 h3,
    .sec2 h3{
        font-size: 40px;
        line-height: 60px;
    }
  }

@media only screen and (max-width: 991px) {
    footer .container .sec{
        width: 40% !important;
        margin-bottom: 40px;
    }
}

/* MOBILES PORTRAIT AND LANDSCAPE */
@media only screen and (max-width: 767px) {
    footer{
        padding-left: 20px;
        padding-right: 20px;
    }
    footer .container .sec{
        width: 100% !important;
        margin-bottom: 30px;
        margin-right: 0;
        text-align: center;
    }
    footer .container h2:before{
        left: 50%;
        margin-left: -25px;
    }
    footer p{
        text-align: center;
    }
    .contact ul.info li,
    footer .sci{
        justify-content: center;
    }
    ul.info li{
        flex-direction: column;
    }
    .contact ul.info li span{
        line-height: 28px;
    }
}
